@model IEnumerable<Front_end.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH NHÂN VIÊN</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm Khách Hàng Mới</a>
</p>
<div class="table-responsive">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>CÔNG CỤ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <a asp-action="Create" class="btn btn-success">Sửa</a>
                        <a asp-action="Create" class="btn btn-success">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
