@model IEnumerable<Front_end.Models.MedicationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH THUỐC</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới thuốc</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedicationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicationDescription)
                </th>
                <th>CÔNG CỤ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationDescription)
                    </td>
                    <td>
                        <a asp-action="Create" class="btn btn-success">Sửa</a>
                        <a asp-action="Create" class="btn btn-success">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
