@model IEnumerable<Front_end.Models.ServiceViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH DỊCH VỤ</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Thêm dịch vụ mới</a>
</p>
<div class="table-responsive">


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        <a asp-action="Create" class="btn btn-success">Sửa</a>
                        <a asp-action="Create" class="btn btn-success">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
